<% if @value %>
  <h1>Hey Allie, you're right!</h1>

  <img width="380" height "380" src="http://ruby006.students.flatironschool.com/<%= @student.image %>" alt="">
  <br>
  My full name is <%= @student.name %>. See ya around school!
  <br>
  <br>
  <p>
  Click below to guess another student's name.
  </p>

<% else %>

  <h1>Hey Allie, ya missed.</h1>

  <img width="380" height "380" src="http://ruby006.students.flatironschool.com/<%= @student.image %>" alt="">
  <br>
  My name is <%= @student.name %> but you guessed <%= @guess %>.<br> 
  It's cool. I'll see ya soon.
  <br>
  <br>
  <p>
  Click below to guess another student's name. 
  </p>

<% end %>
<p>
<%= button_to "Guess another student", "/", :method => "get" %>
</p>
<footer>
<%= button_to "Reset", "/", :method => "post" %>
</footer>

